.task_column_heading {
  display: flex;
  padding: 0 10px;
  border-radius: 10px;
  width: 100%;
  background-color: burlywood;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 0 10px 0;
  justify-content: center;
  text-transform: capitalize;
  font-size: large;
  font-weight: 500;
  border: none;
}

.task_column_icon {
  width: 30px;
  margin-right: 5px;
}

.Region-Column-Container {
  border: 1px solid black;
  padding: 0 8px;
  border-radius: 8px;
  overflow: auto;
  height: 75vh;
  max-height: 70vh;
  scrollbar-width: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.input_box_buttonRegionDelete {
  position: absolute;
  top: 1px;
  display: flex;
  right: 10px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.inputAndButton_container {
  position: relative;
}
